:root{
    --dark-primary-color   : #00796B; 
    --default-primary-color: #009688; 
    --light-primary-color  : #B2DFDB; 
    --text-primary-color   : #FFFFFF; 
    --accent-color         : #CDDC39;
    --primary-text-color   : #212121; 
    --secondary-text-color : #757575; 
    --divider-color        : #BDBDBD;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ************************* Juego *********************** */
body{
    background-color: var(--default-primary-color);
}

.contenedor{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.contenedor__categoria{
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.contenedor__pregunta{
    color: var(--text-primary-color);
    font-size: 2em;
    margin-bottom: 1rem;
}

.contenedor__hint{
    color: var(--divider-color);
    font-size: 1.5rem;
}

.contenedor__listado-opciones{
    margin: 0 auto;
    width: 100%;
}

.contenedor__opcion{
    background-color: var(--dark-primary-color);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    transition: transform 200ms;
}

.contenedor__opcion:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.opcion{
    background-color: var(--divider-color);
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
    margin-right: 1rem;
}

.opcion-texto{
    color: var(--text-primary-color);    
    font-size: 2em;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.correcto{
    background-color: #4CAF50;
}

.incorrecto{
    background-color: #FF6347;
}

.hidden{
    display: none;
}

.contenedor__botones{
    display: flex;
    justify-content: space-around;
}

.contenedor__btn{
    display: inline;
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    box-shadow: 0.1em 0.1em 0.4em #444;
    border-radius: .2em;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: .3em 1em;
    transition: all 100ms;    
}

.contenedor__btn:hover{
    transform: scale(0.97);
    box-shadow: 0 0 0 #000;
    cursor: pointer;
}